<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104128423128-ts56p74991tu87koiic9sfp1iuclmia9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104128423128-ts56p74991tu87koiic9sfp1iuclmia9</string>
	<key>API_KEY</key>
	<string>AIzaSyAHM4llIZMgb5yuX5Yzj21g3zI0Mv3YvwI</string>
	<key>GCM_SENDER_ID</key>
	<string>104128423128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPractice</string>
	<key>PROJECT_ID</key>
	<string>flutter-practice001</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-practice001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104128423128:ios:02c09ca186599378d0a3ad</string>
</dict>
</plist>